{# templates/accueil/base.html.twig #}
{% extends 'base.html.twig' %}

    
{% block title %}Accueil{% endblock %}

{% block head %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
  <head>
    <title>Accueil</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <link href="./styles/styles.css" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" type="image/x-icon" href="./images/favicon.ico" />
    
  </head>
{% endblock %}
  {% block body %}
  <body>
    <div id="page">
      <div id="entete">
        <img src="./images/logo.jpg" id="logoGSB" alt="Laboratoire Galaxy-Swiss Bourdin" title="Laboratoire Galaxy-Swiss Bourdin" />
       
      </div>
<center><h1> Vous êtes : </h1>
<div id="container">

<ul>
<a href ="/visiteur">Visiteur</a>
<br>
<br>
<a href ="/comptable/connexion">Comptable</a>
</center>
</div>
</body>
</html>
{% endblock %}
