{% extends 'base.html.twig' %}

{% block title %}New Comptable{% endblock %}

{% block body %}
    <h1>Create new Comptable</h1>

    {{ include('comptable/_form.html.twig') }}

    <a href="{{ path('comptable_index') }}">back to list</a>
{% endblock %}
